@font-face {
  font-family: "iconfont"; /* Project id 2696997 */
  src: url('iconfont.woff2?t=1627212015645') format('woff2'),
       url('iconfont.woff?t=1627212015645') format('woff'),
       url('iconfont.ttf?t=1627212015645') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e61e";
}

.icon-cuowu:before {
  content: "\e73f";
}

.icon-xianshi:before {
  content: "\e693";
}

.icon-weixian:before {
  content: "\e66d";
}

.icon-jinggao:before {
  content: "\e6fe";
}

.icon-chenggong:before {
  content: "\e663";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-jiazai:before {
  content: "\e6b0";
}

.icon-jiazai1:before {
  content: "\e643";
}

.icon-jiazai2:before {
  content: "\e656";
}

.icon-jiazai3:before {
  content: "\e620";
}

.icon-xin-copy:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-dui:before {
  content: "\e601";
}

.icon-shanchu:before {
  content: "\e7da";
}

.icon-soucang:before {
  content: "\e61f";
}

.icon-xie:before {
  content: "\e64f";
}

